<div id="sidebar" class="three offset-by-one columns">
    <ul>
        <li><h3>Open Source Tester</h3></li>
        <li>A blog about testing with free tools - <a href="http://code.google.com/p/selenium/">Selenium-Webdriver</a>, <a href="http://cukes.info/">Cucumber</a>, <a href="https://github.com/jnicklas/capybara">Capybara</a> to name but a few!</li>
        <li>
        <g:plusone count="false"></g:plusone>
        <a href="http://feeds.feedburner.com/opensourcetester"><img src="/images/feed-icon-large.png" alt="Feed" /></a>
        <a href="http://twitter.com/mcrmfc"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="36" height="28" alt="Twitter" /></a>
        <a href="http://uk.linkedin.com/in/opensourcetester/"><img src="/images/linkedin.png" width="32" height="32" alt="Linkedin" /></a>
        <a href="http://vimgolf.com/mcrmfc"><img src="/images/vimgolf.png" width="33" height="33" alt="VimGolf" /></a>
        </li>
        <li>
        <form action="http://www.google.com/search" method="get">
            <p class="clean">
            <input name="sitesearch" type="hidden" value="opensourcetester.co.uk" />
            <input class="text" name="q" type="text" value="Search" size="12" />
            <input class="button" type="submit" value="Google" />
            </p>
        </form>
        <h3>My latest book...</h3>
        <a href="http://www.packtpub.com/application-testing-with-capybara/book"><img src="/images/1251OS.jpg" alt="Application Testing with Capybara" /></a>
        </li>
        <h3><a href="http://github.com/mcrmfc">GitHub</a> Activity Feed</h3>
        <li></li>
    </ul>
    <h3>Tags</h3>
    <p>
    {% include tag_cloud.html %}
    </p>
</div>
<script>
    $.getJSON("http://www.google.com/reader/public/javascript/feed%2Fhttps%3A%2F%2Fgithub.com%2Fmcrmfc.atom?callback=?",
    {
        format: "json"
    },
    function(data) {
        $.each(data.items, function(i,item){
            $("#sidebar ul").append("<li><a " + "href=\"" + item.alternate.href + "\">" + item.title + "</a></li>");
            if(i==5) return false;
        });
    });
</script>
