<div id="sidebar">
    <ul>
        <li><h3>Open Source Tester</h3></li>
        <li>A blog...</li>
        <li></li>
        <h3>Subscribe</h3>
        <li class="rss">
        <a href="http://feeds.feedburner.com/opensourcetester"><img src="/images/feed-icon-large.png" alt="Feed" /></a>
        </li>
        <li>
        <form action="http://www.google.com/search" method="get">
            <p class="clean">
            <input name="sitesearch" type="hidden" value="opensourcetester.co.uk" />
            <input class="text" name="q" type="text" value="Search" size="12" /><br/>
            <input class="button" type="submit" value="Google" />
            </p>
        </form>
        </li>
    </ul>
</div>
