body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #fff; color: #111; margin: 0; padding: 0 }
pre { margin: 0; padding: 0 }
a:link, a:visited { color: #666; }
html body a:hover { border-bottom: none; color: #ff9900; }
a img { border: none; }
blockquote { font-style: italic; color: #666 }
h2 { font-size: 1.75em; font-weight: bold; color: #666 }

#content h2 { margin-top: 0.8em }

#navigation ul { float: left; margin-bottom: 10px }
#navigation ul li { display: block; margin-bottom: 10px; float: left; }
#navigation ul li a {color: #555555; font-weight: bold; padding: 3px 25px 4px 0; text-decoration: none; }

#logo {margin-top: 20px; margin-bottom: 20px}
#logo h1 {color: #555555; font-size: 48px; font-weight: bold; }

ul.breadcrumb { margin: 1em 0 10px 0; padding: 0; color: #666; font-size: 90% }
ul.breadcrumb li { display: inline; list-style: none }
ul.breadcrumb li:before { content: "\0020 \0020 \0020 \00BB \0020"; color: #333; }
ul.breadcrumb li.home:before { content: "" !important }

#footer p { font-size: 90%; color: #666; padding-top: 1em }

.highlight { background-color: #49483e; border: 1px solid #ddd; padding: 2px 10px !important; overflow: auto }

h2.post { margin: 0.5em 0 0.25em 0; padding: 0; }
#post p {margin: 1 1 0 0}
#post p, #post li, div.posts div.preview { line-height: 1.5em; }
.preview > .info {background-color: #E0A21B}
h2.post a { text-decoration: none }
#sidebar { color: #666; font-size: 90% }
#sidebar {margin: 1em 0 0; }
#sidebar h3 {font-size: 1.17em; color: #666; font-weight: bold}
div h2.post { margin: 0; }
code {font-family: monospace;}

#post img, .preview img { border: 1px solid #ddd; padding: 1px }

div.meta { color: #666; font-size: 90% }
div.meta span.tags { margin-left: 0 }
div.meta span.comments a { text-decoration: none }
.meta-divider {color: #E0A21B}

div.posts div.post-inner { padding: 0.25em 0 2em 0; margin-bottom: 1em; clear: both; width: 100%; border-bottom: 2px solid #E0A21B }
div.posts .date { color: #666; }
div.posts div.preview { width: 100%; clear: both }
div.posts h3 { color: #666 }
div.posts strong { color: #666 }
div.posts h2 a { text-decoration: none }
span.tags a { text-decoration: none; background-color: #f8f8ff; color: #666 }

#related h2 { margin-top: 2em }
ul.related-posts li { padding: 0.25em 0; clear: both; width: 100% }
ul.related-posts div { color: #666; font-size: 80%; width: 8em; float: left; margin: 5px 0 0 0; padding: 0 }
ul.related-posts span.tags { margin-left: 1em; font-size: 80% }
ul.related-posts span.tags a { text-decoration: none; background-color: #f8f8ff; color: #666 }

#dsq-add-new-comment { font-size: 24px }
#comments { margin-top: 1em; float: left; width: 100% }
